@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --bg-color: #222327;
    --text-color: #fff;
    --accent-color: #c24d2c;
    --transition-speed: all .50s ease;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    background-image: url(http://localhost/Book-Review-and-Rating-website/img/background/home-background.jpg); 
    background-repeat: no-repeat; /* Ensure the background image is not repeated */
    background-size: cover; /* Ensure the background image covers the entire element */
    color: var(--text-color);
    display: flex;
}



