@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  font-size: 16px;
  --bg-color: #222327;
  --text-color: #fff;
  --accent-color: #f25f36;
  --dark-orange: #c24d2c;
  --transition-speed: all 0.5s ease;
}

body {
  background-image: url(../img/background/orange-bg.jpg);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Ensure the back button appears above other content */
}

.back-btn a i {
  color: var(--accent-color);
  font-size: 1.5rem;
  transition: var(--transition-speed);
}

.back-btn a i:hover {
  transform: scale(1.1); /* Scale up the button on hover */
  color: var(--dark-orange);
}

.formcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 3px solid #222327;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.formcontainer h1 {
  text-align: center;
  font-size: 1.3rem;
  color: #333;
}

.textfield {
  margin-bottom: 5px;
}

.textfield:nth-child(2) {
  margin-top: -10px;
}

.textfield label {
  display: block;
  margin-bottom: 0px;
  font-weight: bold;
}

.textfield input[type="text"],
.textfield input[type="password"] {
  width: 100%;
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.textfield.success input {
  border-color: green;
}

.textfield.error input {
  border-color: red;
}

.textfield .error {
  color: red;
  font-size: 0.7rem;
  height: 13px;
  padding: 10px 2px;
}

.checkbox label {
  text-decoration: solid;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 10px;
}

.checkbox .error {
  display: inline-block;
  color: red;
  font-size: 0.7rem;
  height: 13px;
  margin-left: 10px;
}

.errorBox {
  width: 100%;
  padding: 3px;
  background-color: #df4554;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
}

button {
  width: 65%;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  border: 0;
  border-radius: 30px;
  background-color: var(--accent-color);
  transition: var(--transition-speed);
  font-weight: 600;
}

button:hover {
  background-color: #c24d2c;
}

.login-link {
  text-align: center;
}

.login-link a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition-speed);
}

.login-link a:hover {
  color: #c24d2c;
  text-decoration: underline;
}

.forgot-link {
  font-size: 0.8rem;
  margin-top: -30px;
  margin-bottom: 30px;
}

.forgot-link a {
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition-speed);
}

.forgot-link a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 2000px) {
  .formcontainer {
    width: 50%;
    padding: 5px 40px;
  }
}

@media only screen and (max-width: 750px) {
  .formcontainer {
    font-size: 0.8rem;
    width: 80%;
  }

  .formcontainer h1 {
    font-size: 1.3rem;
  }

  .textfield .error {
    font-size: 0.5rem;
    height: 13px;
    padding: 10px 2px;
  }
}
